@font-face {
  font-family: roboto-black;
  src: url(./fonts/Roboto-Medium.ttf);
}

/* Form */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.649);
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  width: 420px;
  height: 300px;
  z-index: 5;
  border-radius: 20px;
  background-color: #f0eef1;
  backdrop-filter: blur(15px);
}

.remove-options {
  display: flex;
  justify-content: end;
  gap: 10px;
}

#delete,
#close {
  width: 26px;
  height: 26px;
  cursor: pointer;
}

form {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.form-column-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

textarea {
  resize: none;
  font-family: "roboto-black";
  font-size: 1rem;
}

.task-title {
  display: flex;
  flex-direction: column;
}

.description {
  display: flex;
  flex-direction: column;
}

.form-column-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.column-2-option {
  display: flex;
  flex-direction: column;
}

#submit {
  border-radius: 50px;
  padding: 10px;
  font-family: "roboto-black";
  font-size: 1rem;
  background-color: white;
  color: #171717;
  border: 0;
}
#submit:hover {
  background-color: rgb(195, 195, 195);
  color: white;
}

#submit:active {
  background-color: white;
  color: rgb(195, 195, 195);
}

/* Hover animations */
.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.5);
}

.grow-2 {
  transition: all 0.1s ease-in-out;
}

.grow-2:hover {
  transform: scale(1.1);
}
/* End of hover animations */

html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: "roboto-black";
}

#container {
  display: grid;
  grid-template-rows: 84px 1fr;
  grid-template-columns: 290px 1fr;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

/* Top bar */
#top-bar {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: fit-content;
  z-index: 3;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.16);
  background-color: white;
}

.top-bar-left {
  display: flex;
  gap: 20px;
}

.side-bar-icon,
.dark-light-mode,
.info-icon {
  width: 2.5rem;
  cursor: pointer;
}

.info {
  width: 40px;
  height: 40px;
}

.info .info-container {
  visibility: hidden;
  position: absolute;
  top: 105px;
  right: 20px;
  background-color: black;
  color: white;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  text-align: justify;
  line-height: 25px;
  font-size: 1.25rem;
  /* z-index: 100; */
}

.info:hover .info-container {
  visibility: visible;
}

/* Side bar */
#side-bar {
  position: relative;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  font-size: 1.25rem;
  z-index: 2;
  width: 250px;
  transition: padding-left 0.2s ease-in-out;
  background-color: white;
}

.today-late {
  white-space: nowrap;
  width: 250px;
  overflow: hidden;
}

.today,
.late,
.task-categories-header {
  display: flex;
  align-items: center;
}

.today,
.late {
  cursor: pointer;
  gap: 5px;
  padding-left: 10px;
}

.today-icon,
.late-icon,
.plus-icon {
  width: 2.5rem;
  cursor: pointer;
}

.task-categories {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
}

.task-categories-header {
  justify-content: space-between;
}

button.add-task-category {
  border: 0;
  padding: 0;
  background-color: white;
  cursor: pointer;
}

.task-category-icon-color {
  width: 1rem;
  height: 1.3rem;
  border: 0;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
}

.task-category-icon-color:hover {
  transform: scale(1.2);
}

.task-category .remove-task-category {
  visibility: hidden;
  margin-left: auto;
  width: 1.5rem;
}

.task-category:hover .remove-task-category {
  visibility: visible;
}

.remove-task-category:hover {
  transform: scale(1.2);
}

.task-category-name:hover {
  transform: scale(1.2);
}

.new-task-categories {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 5px;
}

/* Task categories, added by the user */
.task-category {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.task-category-icon {
  padding: 5px;
}

/* Main content, populated by other modules */
#main-content {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: #f0eef1;
}

.task-category-content {
  /* height: 70%; */
  background-color: #f0eef1;
  overflow: auto;
  /* overflow-y: scroll;
  overflow-x: scroll; */
}

.add-task-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

button.add-task-button {
  border-radius: 50px;
  padding: 10px;
  font-size: 1.5rem;
  background-color: white;
  color: black;
  border: 0;
}

button.add-task-button:hover {
  color: white;
  background-color: black;
}

button.add-task-button:active {
  color: black;
  background-color: white;
}

.task-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  justify-content: center;
  row-gap: 50px;
  column-gap: 100px;
  padding: 20px 50px 20px 50px;
}

/* No side bar if page loads while window size is small*/
@media only screen and (max-width: 799px) {
  #main-content {
    grid-column: 1 / 3;
  }
  #side-bar {
    width: 0;
    padding: 0;
  }

  .today-late {
    width: 0;
  }

  .task-categories {
    width: 0;
  }
}
