@font-face {
  font-family: roboto-black;
  src: url(./fonts/Roboto-Medium.ttf);
}

:root {
  --container-background-color: white;
  --overlay-background-color: rgba(0, 0, 0, 0.649);
  --form-background-color: #f0eef1;
  --label-font-color: black;
  --main-content-background-color: #f0eef1;
  --dashboard-font-color: black;
  --button-background-color: white;
  --button-font-color: black;
  --button-hover-background-color: rgb(195, 195, 195);
  --button-hover-font-color: white;
  --button-active-background-color: white;
  --button-active-font-color: rgb(195, 195, 195);
  --box-shadow-color: rgba(0, 0, 0, 0.16);
  --top-side-bar-background-color: white;
  --info-bubble-font-color: white;
  --info-bubble-background-color: black;
  --task-background-color: white;
  --task-font-color: black;
  --today-late-task-border-color: rgb(195, 195, 195);
  --selected-option-background-color: rgb(229, 229, 229);
}

#container {
  background-color: var(--container-background-color);
}

/* Form */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--overlay-background-color);
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  width: 420px;
  height: 300px;
  z-index: 5;
  border-radius: 20px;
  background-color: var(--form-background-color);
  backdrop-filter: blur(15px);
}

.remove-options {
  display: flex;
  justify-content: end;
  gap: 10px;
}

#delete,
#close {
  width: 26px;
  height: 26px;
  cursor: pointer;
}

form {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.form-column-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

textarea {
  resize: none;
  font-family: "roboto-black";
  font-size: 1rem;
}

.task-title-container {
  display: flex;
  flex-direction: column;
}

.description {
  display: flex;
  flex-direction: column;
}

.form-column-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 127.602px;
}

.column-2-option {
  display: flex;
  flex-direction: column;
}

label {
  color: var(--label-font-color);
}

#submit {
  border-radius: 50px;
  padding: 10px;
  font-family: "roboto-black";
  font-size: 1rem;
  background-color: var(--button-background-color);
  color: var(--button-font-color);
  border: 0;
}
#submit:hover {
  background-color: var(--button-hover-background-color);
  color: var(--button-hover-font-color);
}

#submit:active {
  background-color: var(--button-active-background-color);
  color: var(--button-active-font-color);
}

/* Hover animations */
.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.5);
}

.grow-2 {
  transition: all 0.1s ease-in-out;
}

.grow-2:hover {
  transform: scale(1.1);
}
/* End of hover animations */

html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: "roboto-black";
}

#container {
  display: grid;
  grid-template-rows: 84px calc(100vh - 84px);
  grid-template-columns: 290px 1fr;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

/* Top bar */
#top-bar {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  display: flex;
  position: fixed;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 20px;
  z-index: 4;
  box-shadow: 0 4px 2px var(--box-shadow-color);
  background-color: var(--top-side-bar-background-color);
  width: 100vw;
}

.top-bar-left {
  display: flex;
  gap: 20px;
}

.side-bar-icon,
.dark-light-mode,
.info-icon {
  width: 2.5rem;
  cursor: pointer;
}

.info {
  width: 40px;
  height: 40px;
}

.info .info-container {
  visibility: hidden;
  position: absolute;
  top: 105px;
  right: 20px;
  background-color: var(--info-bubble-background-color);
  color: var(--info-bubble-font-color);
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  text-align: justify;
  line-height: 25px;
  font-size: 1.25rem;
}

.info:hover .info-container {
  visibility: visible;
}

/* Side bar */
#side-bar {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  font-size: 1.25rem;
  z-index: 3;
  width: 250px;
  transition: padding-left 0.2s ease-in-out;
  background-color: var(--top-side-bar-background-color);
}

.today-late {
  white-space: nowrap;
  width: 250px;
  overflow: hidden;
}

.today,
.late,
.task-categories-header {
  display: flex;
  align-items: center;
  color: var(--dashboard-font-color);
}

.today,
.late {
  cursor: pointer;
  gap: 5px;
  padding-left: 10px;
}

.today-icon,
.late-icon,
.plus-icon {
  width: 2.5rem;
  cursor: pointer;
}

.task-categories {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
}

.task-categories-header {
  justify-content: space-between;
}

button.add-task-category {
  border: 0;
  padding: 0;
  background-color: var(--button-background-color);
  cursor: pointer;
}

.task-category-icon-color {
  width: 1rem;
  height: 1.3rem;
  border: 0;
  padding: 0;
  cursor: pointer;
  background-color: var(--top-side-bar-background-color);
}

.task-category-icon-color:hover {
  transform: scale(1.2);
}

.task-category .remove-task-category {
  visibility: hidden;
  margin-left: auto;
  width: 1.5rem;
}

.task-category:hover .remove-task-category {
  visibility: visible;
}

.remove-task-category:hover {
  transform: scale(1.2);
}

.task-category-name:hover {
  transform: scale(1.2);
}

.new-task-categories {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 5px;
}

#selected,
#selected > .task-category-icon-color {
  background-color: var(--selected-option-background-color);
}

/* Task categories, added by the user */
.task-category {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.task-category-icon {
  padding: 5px;
}

.task-category-name {
  color: var(--dashboard-font-color);
}

/* Main content, populated by other modules */
#main-content {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: var(--main-content-background-color);
  overflow: auto;
}

.task-category-content {
  background-color: var(--main-content-background-color);
}

.add-task-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

button.add-task-button {
  border-radius: 50px;
  padding: 10px;
  font-size: 1.5rem;
  background-color: var(--button-background-color);
  color: var(--button-font-color);
  border: 0;
}

button.add-task-button:hover {
  color: var(--button-hover-font-color);
  background-color: var(--button-hover-background-color);
}

button.add-task-button:active {
  color: var(--button-active-font-color);
  background-color: var(--button-active-background-color);
}

.task-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  row-gap: 50px;
  column-gap: 100px;
  padding: 20px 50px 20px 50px;
}

.task-card-container {
  display: flex;
  gap: 10px;
  color: var(--task-font-color);
  background-color: var(--task-background-color);
  font-size: 2rem;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 2px 2px 2px var(--box-shadow-color);
  height: 104px;
  cursor: pointer;
}

.complete-icon-container {
  position: relative;
  width: 1.5rem;
}

.complete-icon {
  position: absolute;
  width: 1.5rem;
  top: 0;
  cursor: pointer;
  z-index: 2;
}

.check-mark {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: 1.5rem;
  top: -2px;
  left: 3px;
  transition: opacity 200ms;
  z-index: 1;
}

.complete-icon:hover + .check-mark {
  visibility: visible;
  opacity: 0.3;
}

.title-and-date-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task-title {
  display: -webkit-box;
  width: 240px; /* */
  height: 75px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: center;
}

.task-date {
  font-size: 1rem;
  text-align: center;
}

/* Today/Late Content */
.today-task-container,
.late-task-container {
  display: flex;
  position: relative;
  gap: 5px;
  padding: 10px;
  margin: 25px 100px;
  border-style: solid;
  border-color: var(--today-late-task-border-color);
  border-width: 2px 2px 0 2px;
  background-color: var(--task-background-color);
  box-shadow: 0 4px 2px var(--box-shadow-color);
  color: var(--task-font-color);
}

.today-complete-icon,
.late-complete-icon {
  position: absolute;
  width: 1.5rem;
  cursor: pointer;
  z-index: 2;
}

.today-check-mark,
.late-check-mark {
  position: relative;
  visibility: hidden;
  opacity: 0;
  width: 1.5rem;
  left: 2px;
  bottom: 2px;
  transition: opacity 200ms;
  z-index: 1;
}

.today-complete-icon:hover + .today-check-mark,
.late-complete-icon:hover + .late-check-mark {
  visibility: visible;
  opacity: 0.3;
}

.today-task-container-second-half,
.late-task-container-second-half {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
}

.today-rest-of-information,
.late-rest-of-information {
  display: flex;
  justify-content: space-between;
}

.today-task-category-container,
.late-task-category-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.today-task-category-color,
.late-task-category-color {
  width: 15px;
  height: 15px;
}

/* No side bar if page loads while window size is small*/
@media only screen and (max-width: 799px) {
  #main-content {
    grid-column: 1 / 3;
  }
  #side-bar {
    width: 0;
    padding: 0;
  }

  .today-late {
    width: 0;
  }

  .task-categories {
    width: 0;
  }
}
